.footer {
    background-color: aqua;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    .powerdby-text {
        font-size: 1.2em;
        font-weight: bold;
        color: brown;
    }
}