.container
{
  margin-top: 70px;
  margin-left: 20px;

  .input-field{
    .input {
      margin: 10px;
    }
  }
  
  .info-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  
    .user-info-container {
      margin-top: 70px;
      margin-left: 20px;
      display: flex;
  
      .user-info {
        background: #e2e6ad;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 400px;
        padding: 10px;
    
        .userPic {
          display: flex;
          justify-content: center;
          flex-direction: column;
  
          .image {
            height: 100px;
            width: 100px;
          }
        }
    
        .details {
          font-size: 15px;
  
          .name {
            color: #f00;
          }
    
          .phoneNo {
            color: #00f;
          }
    
          .adress {
            color: #f0f;
          }
  
          .count {
              color: #000
          }
        }
      }
    }
  }
}