.container-fluid
{
  margin-top: 70px;
  
  .info-container {

    .user-info-container {
      width: 50px;

      .user-info {
        background: #e2e6ad;

        .userPic {
          display: flex;
          justify-content: center;
          flex-direction: column;;
          .personImage {
            height: 80px;
            width: 80px;
          }
        }
    
        .details {
          font-size: 18px;
  
          .name {
            color: #f00;
          }
    
          .phoneNo {
            color: #00f;
          }
    
          .adress {
            color: #f0f;
          }
  
          .contact {
              font-size: 1.5em;
              .call {
                color: green;
              }
              .mail {
                color: red;
              }
          }
        }
      }
    }
  }
}