<div class="container-fluid">
    <div class="row">
        <div class="col-12 col">
            <input [(ngModel)]="userInfo.name" class="input m-2" placeholder="Enter name" />
            <input [(ngModel)]="userInfo.phoneNo" class="input m-2" placeholder="Enter hone number" />
            <input [(ngModel)]="userInfo.adress" class="input m-2" placeholder="Enter Adress" />
            <button (click)="addToList()" class="btn btn-success m-2">Add Person</button>
        </div>
        
        <div class="col-12 info-container">
            <div class="row m-2">
                <div class="col-12 col-sm-4 mb-4 user-info-container" *ngFor="let person of contactList">
                    <div class="row w-100 user-info">
                        <div class="col-4 userPic">
                            <img [src]="person.userImage" class="personImage" alt="user-pic" />
                        </div>
                        <div class="col-8 pb-3 pt-3 details">
                            <p class="name">{{ person.name }}</p>
                            <p class="phoneNo">{{ person.phoneNo }}</p>
                            <p class="adress">{{ person.adress }}</p>
                            <p class="count" *ngIf="person.phoneNo">
                                Call
                            </p>
                            <button (click)="removeContact(person)" class="btn btn-danger">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>